body {
  background-color: #f3f4f6;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 500px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #111827;
  margin-bottom: 5px;
}

p {
  color: #6b7280;
  margin-bottom: 30px;
}

.upload-area label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px;
  border: 2px dashed #3b82f6;
  border-radius: 8px;
  cursor: pointer;
  color: #3b82f6;
  font-weight: bold;
  background: #eff6ff;
}

.upload-area input {
  display: none;
}

.files-list {
  margin-top: 20px;
  text-align: left;
}

.file-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.file-item button {
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

.btn-merge {
  background: #111827;
  color: white;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border: none;
}

.btn-merge:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}